body {
    background-color: #f2f2f2;
    color: #286e34;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    color: #286e34;
    text-align: center;
}

.navbar-item {
    font-weight: bold;
}


.theme-title {
    padding-top: 1rem;
    font-weight: 700;
    font-size: 1.3em;
}

.theme-br {
    border-top: 1.5px solid #286e34;
    margin: 10px auto;
    width: 50%;
}


.container {
    padding: 0px;
    padding-right: 0;
    padding-bottom: 30px;
}

.title {
    color: #286e34;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 60vh;
}

.home-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
}

p {
    font-size: 12px;
}

.home-header-container {
    margin: 40px;
}

.home-search-container {
    margin: 50px;
}

.lookbook-title {
    margin: 40px;
    font-weight: 700;
    font-size: 1.3em;
}

.detail__img {
    position: absolute;
}

.theme-detail-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 30vh;
    background-color: #286e34;
}

.theme-detail-container {
    flex: 1;
    padding: 20px;
    z-index: 2;
}


.theme-detail-form {
    flex: 1;
    padding: 20px;
    background-color: #286e34;
    z-index: 2;
    height: 30vh;
    overflow: auto;
}

.theme-background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    /* Adjust the width as needed */
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.theme-background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme-detail-header h1 {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 10px;
    z-index: 2;
    color: #ff8000;
}

.theme-detail-header h2 {
    font-size: 5em;
    font-weight: 800;
    margin-bottom: 10px;
    z-index: 2;
    color:#f2f2f2;
}

.theme-detail-header p {
    font-size: 1em;
    z-index: 2;
    color: #f2f2f2;
}

.theme-detail-header img {
    max-width: 100%;
    height: auto;
}

.theme-detail-form form {
    margin-top: 20px;
}

.theme-detail-form .field {
    margin-bottom: 10px;
}

.theme-detail-form .label {
    font-weight: bold;
}

.theme-detail-form .input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.control {
    text-align: right;
}

.theme-detail-form .button {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-align: center;
    line-height: 1;
    width: 80%;
}


.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__container {
    margin-top: 20px;
}

.detail__lookbooks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lookbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 10px;
}

.product_detail_contrainer {
    display: flex;
}

.product__detail__img {
    display: grid;
    height: 100vh;
}

.product__detail__detail {
    display: flex;
}

.lookbook_container {
    display: flex;
}

.left {
    flex: 2;
    width: 50vh;
}

.right {
    display: flex;
    flex-direction: column;
}


.lookbook_image {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #286e34;
    height: 50px;
}


.navbar-item {
    color: #f2f2f2
}

.card {
    width: 25vw;
    /* Adjust the width to your desired size */
    height: auto;
    /* Adjust the height as needed */
}

.card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50vh;
    overflow:hidden;
}

.card-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    background-color: none;
    z-index: 1;
}

.card-overlay:hover {
    color: #ff8000;
    transition: 0.3s ease-in;
}

.media {
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
}

.card-header-title {
    font-size: 1em;
}

.card-content {
    text-align: left;
    padding: 12px 16px;
}

.content {
    font-size: 0.8em;
}

.card-footer-item {
    color: #286e34;
    font-size: 0.8em;
    font-weight: bold;
}

.card-footer-item:hover {
    color: #ff8000
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #286e34;
    color: #f2f2f2;
    padding: 0;
}

.footer-content {
    color: #f2f2f2;
    text-align: center;
    padding-top: 10px;
}

.footer-text {
    color: #f2f2f2;
}

.footer-text:hover {
    color: #ff8000;
}


.item-detail-container {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: none;
}

.custom-article {
    width: 100%;
    height: 15vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #286e34;
    border-radius: 50px;
    margin-bottom: 15px;
}

.image-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.image-container {
    margin-left: 10px;
}

.dropdown-container {
    margin-right: 10px;
}

.header-container h6 {
    font-size: 1.5em;
}

.lookbook-detail-container {
    height:50vw;
    background-color: white;
    margin: none;
    display: flex;
    padding:20px;
    border-radius: 20px;
}

