body {
    background-color: #f2f2f2;
    color: #286e34;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: #286e34;
}

.container {
    padding: 40px;
    padding-right: 0;
}

.title {
    color: #286e34;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 10px;
}


p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    /* left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden; */
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__container {
    margin-top: 20px;
}

.detail__lookbooks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lookbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 10px;
}

.product_detail_contrainer {
    display: flex;
}

.product__detail__img {
    display: grid;
    height: 100vh;
}

.product__detail__detail {
    display: flex;
}

.lookbook_container {
    display: flex;
}

.left {
    flex: 2;
    width: 50vh;
}

.right {
    display: flex;
    flex-direction: column;
}

.lookbook_image {
    max-width: 100%;
    width: 33vw;
    height: auto;
}

.navbar {
    background-color: #286e34;
}

.navbar-item {
    color: #f2f2f2
}

.card {
    width: 25vw; /* Adjust the width to your desired size */
    height: auto; /* Adjust the height as needed */
}

.card-container {
    position: relative;
    display: inline-block;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    background-color: none;
    z-index: 1;
}

.card-overlay:hover {
    color:#ff9500;
    transition: 0.3s ease-in;
}
