body {
    background-color: #f2f2f2;
    color: #286e34;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: #286e34;
}

.container {
    padding: 40px;
    padding-right: 0;
}

.title {
    color: #286e34;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 10px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    /* transform: scale(1.1); */
    z-index: 10;
}

p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    /* left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden; */
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__container {
    margin-top: 20px;
}

.detail__lookbooks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lookbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 10px;
}

.product_detail_contrainer {
    display: flex;
    
}
.product__detail__img{
    display: grid;
    width:30%;
}
