{% extends 'base.html' %}
{% block content %}
<h1 class="title">About us</h1>
<div class="lookbook-detail-container">
    <div class="column is-half">
        <img src="https://ibb.co/m9qYSvz" alt="about img">
    </div>
    <div class="column is-half">
        <p>As a user and shopper, you have the freedom to explore a diverse range of captivating themes, each
            accompanied by stunning images. These themes are thoughtfully curated to provide you with an immersive
            visual experience.</p>
        <p>Once you discover a theme that resonates with your style, you'll be introduced to a selection of lookbooks.
            Lookbooks are carefully crafted collections that showcase various styles and arrangements.</p>
        <p>Within each lookbook, you'll find a multitude of inspired suggestions, each presented with beautifully
            composed images. These suggestions already include carefully chosen items, allowing you to envision how they
            can enhance your space.</p>
        <p>As you navigate through the lookbook, you can effortlessly browse through each item featured in the image.
            Every item is conveniently linked, offering you easy access to more information or a seamless purchase
            experience.</p>
        <p>Whether you're seeking inspiration or searching for specific items, our platform provides an intuitive and
            enjoyable experience tailored to meet your unique shopping needs.</p>
    </div>
</div>
{% endblock %}