{% extends 'base.html' %}
{% block content %}
<div class="tile is-ancestor">
    {% for shoppinglist in shoppinglists%}
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{shoppinglist.name}}</p>
                <hr />
                {% for product in shoppinglist.products.all %}
                <div class="product">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{product.name}}</b></span>
                    <img src="{{product.image}}" alt="{{product.name}}" />
                    <span>{{product.get_price}}</span>
                    <span>
                        <a href="{% url 'shoppinglist_product_assoc' shoppinglist.pk product.pk %}?assoc=remove" class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </article>
            {% endfor %}
        </div>
    {% empty %}
        <div class="shoppinglist mb-5">"There are no products in this shoppinglist"</div>
    
    {% endfor %}
</div>
{% endblock %}


