{% extends 'base.html' %}
{% block content %}
<!-- add form to add a product to the lookbook -->

<div class="theme-detail-header">
    <div class="theme-detail-container">
        <h2>{{lookbook.name}}</h2>
    </div>
    <div class="theme-detail-form">
        <form class="mb-5" action="{% url 'product_create' lookbook.pk %}" method="post">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-small" type="text" name="name" placeholder="Product name" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Image</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-small" type="text" name="image" placeholder="Product image" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Price</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-small" type="text" name="price" placeholder="Product price" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="control">
                <input class="button is-light is-small" type="submit" value="add a product" />
            </div>
        </form>
    </div>
</div>

<div class="lookbook-detail-container">
    <div class="column is-half">
        <img src="{{lookbook.image}}" alt="{{lookbook.name}}" class="lookbook_image" />
    </div>
    <div class="column is-half">
        <div class="item-detail-container">
            {% for product in lookbook.products.all %}
            <div class="custom-article">
                <div class="image-container">
                    <img src="{{product.image}}" alt="{{product.name}}" class="article-image" />
                </div>
                <div class="header-container">
                    <h6 class="title">{{forloop.counter}} {{product.name}}</h6>
                    <p class="subtitle">{{product.get_price}}</p>
                </div>
                <div class="dropdown-container">
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Add to Shoppinglist</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% for shoppinglist in shoppinglists %}
                                <a href="{% url 'shoppinglist_product_assoc' shoppinglist.pk product.pk %}?assoc=add"
                                    class="dropdown-item">{{shoppinglist.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Products Available</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}