{% extends 'base.html' %}
{% block content %}
<h1>this is lookbook detail</h1>
<!-- add form to add a product to the lookbook -->
<form class="mb-5" action="{% url 'product_create' lookbook.pk %}" method="post">
    {% csrf_token %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" name="name" placeholder="Product name" required>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Image</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" name="image" placeholder="Product image" required>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Price</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" name="price" placeholder="Product price" required>
                </p>
            </div>
        </div>
    </div>
    <div class="control">
        <input class="button is-primary" type="submit" value="add a product" />
    </div>
</form>
<div class="product_detail_contrainer">
    <div class="product__detail__img">
        <h1>{{lookbook.name}}</h1>
        <img src="{{lookbook.image}}" alt="{{lookbook.name}}">
    </div>
    <div class="product__detail__detail">
        <h3 class="title is-3">Products</h3>
        {% for product in lookbook.products.all %}
        <div class="lookbook__detail">
            <span>{{forloop.counter}}</span>
            <span>{{product.name}}</span>
            <img src="{{product.image}}" alt="{{product.name}}">
            <span>{{product.get_price}}</span>
        </div>
        <div class="buttons">
            <a href="{% url 'product_update' lookbook.pk product.pk %}" class="button is-info">Updates
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
           
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}