{% extends 'base.html' %}
{% block title %}
Themes
{% endblock %}
{% block content %}
<div class="home-header-container">
    <h1 class="theme-title">{{header}}</h1>
    <div class="theme-br"></div>
</div>
<div class="home-search-container">
    <form class="mb-5" method="get">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" name="name" placeholder="please enter theme" />
            </div>
            <div class="control">
                <input class="button is-light" type="submit" value="Search" />
            </div>
            <a class="button is-dark" href="{% url 'theme_list' %}">Clear Search</a>
        </div>
    </form>
</div>
<div class="gallery">
    {% for theme in themes %}
    <a href="{% url 'theme_detail' theme.pk %}">
        <div class="card">
            <div class="lookbook-card-container">
                <img src="{{theme.image}}" alt="{{theme.name}}" class="lookbook-card-image" />
                <div class="lookbook-card-overlay">{{theme.name}}</div>
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Themes Available</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}