{% extends 'base.html' %}
{% block content %}
<div class="detail__img">
    <h1>{{theme.name}}</h1>
    <!-- <img src="{{theme.image}}" alt="{{theme.name}}"> -->
</div>
<div class="detail__container">
    <div class="detail__about">
        <p>{{theme.description}}</p>
    </div>
    <div class="detail__lookbooks mb-5">
        <form class="mb-5" action="{% url 'lookbook_create' theme.pk %}" method="post">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="name" placeholder="Lookbook name" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Image</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="image" placeholder="Lookbook image address" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Items</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="items" placeholder="Lookbook items" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="add a lookbook" />
            </div>
        </form>
        <h3 class="title is-3">LookBooks</h3>
        {% for lookbook in theme.lookbooks.all %}
        <div class="lookbook">
            <span>{{forloop.counter}}</span>
            <span>{{lookbook.name}}</span>
            <a href="{% url 'lookbook_detail' lookbook.pk %}">
                <img src="{{lookbook.image}}" alt="{{lookbook.name}}">
            </a>
   
            <div>
                {{lookbook.items}}
            </div>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Lookbooks Available</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}