{% extends 'base.html' %}
{% block content %}
<div class="detail__img">
    <h1>{{theme.name}}</h1>
    <!-- <img src="{{theme.image}}" alt="{{theme.name}}"> -->
</div>

<div class="detail__container">
    <div class="detail__about">
        <p>{{theme.description}}</p>
    </div>
    <div class="detail__lookbooks mb-5">
        <!-- look book create form -->
        <form class="mb-5" action="{% url 'lookbook_create' theme.pk %}" method="post">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="name" placeholder="Lookbook name" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Image</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="image" placeholder="Lookbook image address" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Items</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="items" placeholder="Lookbook items" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="add a lookbook" />
            </div>
        </form>
    </div>
</div>

<h3 class="title is-3">LookBooks</h3>

<div class="gallery">
    {% for lookbook in theme.lookbooks.all %}
    <div class="card">
        <a href="{% url 'lookbook_detail' lookbook.pk %}">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{lookbook.image}}" alt="{{lookbook.name}}">
                </figure>
            </div>
        </a>
        <header class="card-header">
            <p class="card-header-title">
                <span>{{forloop.counter}}</span>
                {{lookbook.name}}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {{lookbook.items}}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'lookbook_update' lookbook.pk %}" class="card-footer-item">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'lookbook_delete' lookbook.pk %}" class="card-footer-item">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
    </div>

    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Lookbooks Available</p>
        </div>
    </article>
    {% endfor %}
</div>

{% endblock %}